.char-container {
  display: inline-block;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 0 10px rgba(1, 120, 255, 0.2);
  padding: 20px;
  margin: 20px;
  text-align: center;
  border-radius: 8px;
  width: 100%;
}

h2 {
  font-size: 20px;
  font-weight: 500;
  color: #4a03b2;
  margin-bottom: 20px;
}
