<div class="supplier action-center-item">
  <app-header-with-button
    title="Supplier Management"
    buttonText="+ Add Supplier"
    (buttonClick)="openSupplierForm()"
  />

  <div class="action-chart-content">
    <div>
      <app-table
        [columns]="supplierColumns"
        [data]="suppliersData"
        />
    </div>

  </div>

  <div>
    <app-sub-topic
      title="Supplier Growth"
      subtitle="The growth of suppliers over time."
    />
    <div class="charts">
      <app-chart-container title="Bar Chart">
        <app-bar-chart></app-bar-chart>
      </app-chart-container>

    </div>
  </div>
</div>
