<div class="top-bar">
  <div class="top-bar-logo">
    <mat-icon class="menu-icon">menu</mat-icon>
    <span class="logo-text">InvexPro</span>
  </div>
  <div class="top-bar-search">
    <input type="text" placeholder="Search..." />
    <mat-icon class="search-icon">search</mat-icon>
  </div>
  <div class="top-bar-profile">
    <img src="/profile.jpg" alt="profile" />
    <span class="profile-name">Kavindu</span>
    <mat-icon class="profile-icon">keyboard_arrow_down</mat-icon>
  </div>
</div>

