<div class="custom-form-container">
  <h2 mat-dialog-title class="dialog-title">{{ data.title || 'Form Dialog' }}</h2>

  <mat-dialog-content>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <!-- Use a wrapper div for flexbox -->
      <div class="form-container">
        <div class="form-field" *ngFor="let field of data.formConfig">
          <mat-form-field appearance="fill" class="custom-form-field">
            <label>{{ field.label }}</label>
            <ng-container [ngSwitch]="field.type">
              <!-- Text Input -->
              <input matInput class="cf-input" *ngSwitchCase="'text'" [formControlName]="field.name" />

              <!-- Number Input -->
              <input matInput class="cf-input" *ngSwitchCase="'number'" [formControlName]="field.name" type="number" />

              <!-- Select Input -->
              <mat-select *ngSwitchCase="'select'" [formControlName]="field.name">
                <mat-option *ngFor="let option of field.options" [value]="option">
                  {{ option }}
                </mat-option>
              </mat-select>

              <ng-container *ngSwitchCase="'date'">
                <div class="date-picker-cmp">
                  <input matInput class="cf-date-input" [matDatepicker]="picker" [formControlName]="field.name" />
                  <mat-datepicker-toggle matPrefix [for]="picker"></mat-datepicker-toggle>
                </div>
                <mat-datepicker #picker></mat-datepicker>
              </ng-container>

            </ng-container>
            <mat-error *ngIf="form.get(field.name)?.hasError('required')">
              *{{ field.label }} is required
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </form>
  </mat-dialog-content>

  <mat-dialog-actions class="dialog-actions">
    <button (click)="onCancel()" class="cancel-button">Cancel</button>
    <button (click)="onSubmit()" class="submit-button">Submit</button>
  </mat-dialog-actions>
</div>
