<div class="sidebar">
  <div class="sidebar-header">
    InvexPro
  </div>
  <div class="sidebar-menu">
    <div class="sidebar-topic">
      <h3 class="topic-title">Topic 1</h3>
      <ul class="topic-items">
        <li class="topic-item">
          <i class="item-icon"></i>
          <span class="item-name">Item 1</span>
        </li>
        <li class="topic-item">
          <i class="item-icon"></i>
          <span class="item-name">Item 2</span>
        </li>
      </ul>
    </div>
    <div class="sidebar-topic">
      <h3 class="topic-title">Topic 2</h3>
      <ul class="topic-items">
        <li class="topic-item">
          <i class="item-icon"></i>
          <span class="item-name">Item 3</span>
        </li>
        <li class="topic-item">
          <i class="item-icon"></i>
          <span class="item-name">Item 4</span>
        </li>
      </ul>
    </div>
  </div>
</div>

