<div class="home-box">
  <div class="home-box-logo">InvexPro</div>
  <app-navbar></app-navbar>
  <div class="home-box-inner">
    <div class="home-box-inner-left">
      <h1 class="title">INVENTORY MANAGEMENT</h1>
      <p class="description">
        Our inventory management system helps streamline
        your business operations by providing real-time tracking
        of stock levels, orders, and deliveries.
        Easily manage and optimize your inventory
        to reduce costs and improve efficiency.
      </p>
      <app-action-button (onClick)="navigateToActionCenter()" text="Get Started"></app-action-button>
    </div>
    <img src="/mg.png" alt="Inventory Management Image" class="home-box-image">
  </div>
</div>
