<div class="customer action-center-item">
  <app-header-with-button
    title="Customer Management"
    buttonText="+ Add Customer"
    (buttonClick)="openCustomerForm()"
  >
  </app-header-with-button>

  <div class="action-chart-content">
    <div>
      <app-table
        [columns]="customersColumns"
        [data]="customersData"
      />
    </div>
    <div>
      <app-sub-topic
        title="Customer Growth"
        subtitle="The growth of customers over time."
      />
      <div class="charts">
        <app-chart-container title="Line Chart">
          <app-line-chart></app-line-chart>
        </app-chart-container>

      </div>
    </div>
  </div>

</div>
